@media screen and (max-width: 767px) {}

/* ? mobile */
@media screen and (min-width: 768px) and (max-width: 1279px) {}

/* ? tablet*/

@media screen and (min-width: 1280px){
    .mainbackground{
        max-width: 1920px; width: 100%; height: 100vh; position: relative; background-repeat: cover;
    }
    .mainbackground video{
        position: absolute; width: 100%; height: 100vh; object-fit: cover;
    }
    .mainbackground .MainV{
        max-width: 1920px; width: 100%; height: 100vh; position: absolute; z-index: 1;
        background: rgba(0,0,0,0.6);
    }
    .MainV > div{
        text-align: center; margin-top: 17%; line-height: 100px;
    }
    .MainV > div h2{
        font-family: 'Tiro Devanagari Sanskrit Regular'; font-size: 60px; font-weight: normal;
        margin-bottom: 120px;
    }
    .MainV > div h2, .MainV > div p, .MainV > div button{
        color: #fff;
    }
    .MainV > div a{
        background: none; border: 1px solid #fff; padding: 14px 49px; color: #fff;
    }
    
    .WeatherSection{
        max-width: 1920px; width: 100%; background: url(../images/main_weather_bg.png) no-repeat;
        text-align: center;
    }
    .WeatherSection h2{
        font-size: 60px; text-align: center; padding-top: 60px; color: 627200; margin-bottom: 70px;
        font-family: 'Tiro Devanagari Sanskrit Regular'; font-weight: normal; color: #627200;
    }
    .WeatherSection > div{
        max-width: 1440px; width: 100%; margin: 0 auto;
    }
    .WeatherSection > div::after{
        display: block; content: ''; visibility: hidden; clear: both;
    }
    .WeatherSection > div h3{
        font-size: 40px; margin-bottom: 20px; font-family:'Tiro Devanagari Sanskrit Regular';
    }
    .WeatherSection > div div{
        width: 20%; float: left;
    }
    .WeatherSection > div div title{
        display: block;
    }
    .WeatherSection > div div p{
        font-size: 30px; margin-bottom: 20px;
    }
    .WeatherSection > div div ul{
        list-style: none; width: 100%; float: left; text-align: center;
    }
    .WeatherSection > div div ul::after{
        display: block; content: ''; visibility: hidden; clear: both;
    }
    .WeatherSection > div div ul li{
        color: black; line-height: 25px;
    }
    .WeatherSection > div:last-of-type{
        padding-bottom: 45px;
    }
    .WeatherSection > img{
        width: 40%; padding-bottom: 60px;
    }
    .WeatherSection > img:last-of-type{
        width: 30%;
    }
    .hob{
        max-width: 1920px; width: 100%; background: url(../images/vage.jpg) no-repeat; text-align: center;
        background-size: cover;
    }
    .hob div{
        background: rgba(0,0,0,0.4);
    }
    .hob h2{
        font-size: 40px; color: #fff; padding: 135px 0 20px 0;
    }
    .hob p{
        font-size: 25px; color: #fff; padding-bottom: 135px; line-height: 40px;
    }
    .ParcelOut{
        max-width: 1920px; width: 100%; background: url(../images/main_D_bg.png) no-repeat;
        margin: 0 auto; height: 1183px;
    }
    .ParcelOut div:first-of-type{
        width: 100%; padding-top: 60px; display: flex; justify-content: center; align-items: center;
        margin-bottom: 130px;
    }
    .ParcelOut div:after{
        display: block; content: ''; visibility: hidden; clear: both;
    }
    .ParcelOut div span{
        float: left; border-bottom: 2px solid #627200; width: 6%; display: block;
    }
    .ParcelOut div h2{
        font-size: 60px; color: #627200; float: left; margin: 0 3%;
    }
    .ParcelOut div:last-of-type{
        display: flex; justify-content: center; align-items: center; position: relative;
        margin-bottom: 60px;
    }
    .ParcelOut div:last-of-type img:first-of-type{
        position: absolute; top: -50px; left: 0px; display: block; max-width: 100%;
    }
    .ParcelOut div:last-of-type img:nth-of-type(2){
        z-index: 1; width: 40%;
    }
    .ParcelOut div:last-of-type img:last-of-type{
        position: absolute; top: -50px; right: 0; display: block; max-width: 100%;
    }
    .ParcelOut div:last-of-type p{
        position: absolute; color: #fff; font-size: 30px; text-align: center; line-height: 45px;
        z-index: 2;
    }
    .ParcelOut div:last-of-type p mark{
        font-family: 'Tiro Devanagari Sanskrit Regular'; background: none; color: #fff;
        font-weight: normal;
    }
    .ParcelOut a{
        display: block; margin: 0 auto; border: 1px solid #627200; color: #627200;
        text-align: center; width: 7.8%; line-height: 50px; font-size: 20px; font-family: 'Noto Sans KR'; font-weight: bold;
    }
    .WiseSaying{
        max-width: 1920px; width: 100%; background: url(../images/main_yhp.jpg) no-repeat;
        background-size: cover;
        text-align: center;
    }
    .WiseSaying div{
        background: rgba(0,0,0,0.4); padding: 220px 0 200px;
    }
    .WiseSaying div h2{
        font-size: 40px; color: #fff; line-height: 55px; font-family: 'Noto Sans KR';
    }
    /*! Main Page fin */

    .loginSection{
        max-width: 1920px; width: 100%; margin: 0 auto; background: url(../images/VG.jpg) no-repeat; 
    }
    .loginSection form{
        background-color: rgba(0,0,0,0.4); width: 100%; height: 1279px;
        display: flex; justify-content: center; align-items: center;
    }
    .loginSection form fieldset{
        margin: 0 auto; width: 33%; height: 740px; background: #FFEBD3;
        border-radius: 20px;
    }
    .loginSection form fieldset p{
        margin: 30px 0 10px; font-size: 30px; color: #627200;
        font-family: 'Noto Sans KR'; text-align: center;
    }
    .loginSection form fieldset h2{
        font-family: 'Tiro Devanagari Sanskrit Regular'; font-weight: normal; font-size: 30px;
        color: #627200; margin-bottom: 30px; text-align: center;
    }
    .loginSection form fieldset > div{
        position: absolute; width: 20%; list-style: none; left: 39.8%;
    }
    .loginSection form fieldset > div input:first-of-type,
    .loginSection form fieldset > div input:nth-of-type(2){
        width: 100%; height: 50px; border-radius: 5px; box-sizing: border-box; box-shadow: 7px 7px 4px rgb(0 0 0 / 25%);
        border: 1px solid #627200; margin-bottom: 10px; display: block; font-size: 20px;
    }
    .loginSection form fieldset > div input:nth-of-type(3){
        margin-bottom: 30px;
    }
    .loginSection form fieldset > div label{
        vertical-align: none;
    }
    .loginSection form fieldset > div input:last-of-type{
        display: block; width: 100%; height: 45px; color: #fff; font-family: 'Tiro Devanagari Sanskrit Regular';
        font-size: 30px; background-color: #627200; border: none; cursor: pointer; margin-bottom: 75px;
    }
    .loginSection form fieldset > div ul{
        list-style: none;
    }
    .loginSection form fieldset > div ul li button{
        width: 100%; line-height: 50px; background: #fff; text-align: center; font-size: 25px;
        border: none; cursor: pointer;
    } 
    .loginSection form fieldset > div ul li:first-child button{
        border: 1px solid #628EFF; margin-bottom: 10px; color: #628EFF;
    }
    .loginSection form fieldset > div ul li:nth-child(2) button{
        border: 1px solid #00C63B; margin-bottom: 10px; color: #00C63B;
    }
    .loginSection form fieldset > div ul li:last-child button{
        border: 1px solid #FAE100; color: #FAE100; margin-bottom: 65px;
    }
    .loginSection form fieldset > div div{
        text-align: center;
    }
    .loginSection form fieldset > div div a{
        color: #627200; font-size: 15px;
    }
    .loginSection form fieldset > div div a:not(:first-of-type){
        margin-left: 10px; border-left: 1px solid #627200; padding-left: 10px;
    }
    /*! Login Page fin */
    
    .joinSection{
        max-width: 1920px; width: 100%; display: flex; justify-content: center; align-items: center;
        margin: 0 auto;
    }
    .joinSection form{
        width: 26%; margin: 75px 0 95px;
    }
    .joinSection form p{
        font-size: 30px; text-align: center; margin-bottom: 20px;
        font-family: 'Noto Sans KR';
    }
    .joinSection form h2{
        font-size: 30px; text-align: center; margin-bottom: 60px;
        font-family: 'Tiro Devanagari Sanskrit Regular'; font-weight: normal;
    }
    .joinSection form label{
        display: block; font-size: 25px; font-family: 'Noto Sans KR'; margin-bottom: 5px;
    }
    .joinSection form input{
        margin-bottom: 10px; width: 100%; background: rgb(226, 226, 226); border: none; height: 40px;
        box-sizing: border-box; box-shadow: 5px 5px 5px rgb(0 0 0 / 25%);
    }
    .joinSection form input:first-of-type,
    .joinSection form input:nth-of-type(6){
        width: 75%;
    }
    .joinSection form button:first-of-type{
        border: none; width: 25%; background: #627200; line-height: 38px; vertical-align: middle;
        color: #fff; margin-left: -6px; cursor: pointer; font-size: 16px; box-shadow: 5px 5px 5px rgb(0 0 0 / 25%);
    }
    .joinSection form select{
        margin-left: -6px; width: 25%; box-shadow: 5px 5px 5px rgb(0 0 0 / 25%); height: 40px; vertical-align: middle;
    }
    .joinSection form input:last-of-type{
        margin-bottom: 60px;
    }
    .joinSection form div{
        text-align: center;
    }
    .joinSection form div button:last-of-type{
        border: none; width: 30%; background: #627200; line-height: 45px; font-family: 'Noto Sans KR';
        color: #fff; cursor: pointer; font-size: 20px; border-radius: 5px; 
    }
    /*! 회원가입 fin */
    
    .opin_bg{
        background: url(../images/Op_infor.png) no-repeat; background-size: cover; height: 410px;
        text-indent: -9999px; margin-bottom: 95px;
    }
    .operationS{
        max-width: 1440px; width: 100%; margin: 0 auto;
    }
    .operationS h2{
        font-size: 60px; margin-bottom: 60px; font-family: 'Noto Sans KR';
    }
    .operationS > p{
        font-size: 40px; margin-bottom: 5px;
    }
    .operationS ul,
    .operationS ol{
        list-style: none;
    }


















    .calendar .main{
        display: flex; align-items: center; justify-content: center; height: 100vh;
    }
    .calendar .content-wrap{
        width: 800px; height: 600px; overflow: hidden; 
    }
    .calendar .content-left{
        background: #0b0809; color:#FFEBD3; float: left; width: 360px; border-radius: 20px 0 0 20px;
        height: 490px; padding: 90px 20px 20px 0;  overflow: auto; 
    }
    .calendar .Lnext, .calendar .Rnext,
    #next, #prev{
        cursor: pointer; color: #FFEBD3;
    }
    .calendar .main-wrap{
        text-align: center; margin: 20px 0 0 0;
    }
    .calendar .main-day{
        font-size: 30px;
    }
    .calendar .main-date{
        font-size: 120px; margin: 20px 0; font-family: 'Noto Sans KR'; font-weight: bold;
    }
    .calendar .todo-wrap{
        padding: 0 0 0 40px;
    }
    .calendar .todo-title{
        font-size: 20px; margin: 0 0 10px 0;
    }
    .calendar .input-box{
        width: 70%; height: auto; background: #0b0809; color: #FFEBD3; line-height : normal;
        padding: .8em .5em 0 0; font-family: inherit; border: 0; border-bottom: 1px dashed #627200;; 
        border-radius: 0; outline-style: none; -webkit-appearance: none; -moz-appearance: none; appearance: none;
    }
    .calendar .input-data{
        cursor: pointer; font-size: 10px; padding: 10px; margin: 20px 0 30px 0; font-family: 'Tiro Devanagari Sanskrit Regular';
        background: #627200; border: none; color: #FFEBD3; border-radius: 10px;
    }
    .calendar .input-data:hover{
        background: #ffffff; color: #0b0809;
    }
    .calendar .input-list > div{
        font-size: 16px; width: 60%; float: left; color: #FFEBD3;
    }
    .calendar .del-data{
        display: block; color: #FFEBD3; float: left; width: 10%; cursor: pointer;
        font-size: 10px; padding: 10px; background: #0b0809; border: none; border-radius: 10px;
    }
    .calendar .content-right{
        float: left; width: 360px; height: 480px; padding: 100px 20px 20px 20px; background: #627200; border-radius: 0 20px 20px 0;
    }
    .calendar .sun{
        color:#ef3333;
    }
    .calendar .sat{
        color:#2107e0;
    }
    .calendar .content-right table tr td{
        width: 50px; height: 50px; text-align: center; font-size: 20px; vertical-align: middle;
    }
    .calendar .content-right thead{
        font-family: 'Tiro Devanagari Sanskrit Regular';
    }
    .calendar .calendar-body tbody tr td{
        cursor: pointer; font-family: 'Noto Sans KR'; font-weight: bold;
    } 
    .active{
        background: #0b0809; border-radius: 50%; color: #ffffff;
    }
    td{
        color: #FFEBD3;
    }
}

/* ? desktop */